@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(hello_kitty_bow_pattern_v2.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100px;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

header h1 {
    color: transparent;
    font-size: 40px;
    margin-left: 20px;
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(to right, rgb(212, 41, 69), red, rgb(226, 37, 69));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

header .choose {
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(212, 41, 69);
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

header .choose:hover {
    background-color: rgb(180, 35, 59);
}

#mainContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px;
}

#mainContainer .image-container {
    width: 50%;
    height: 50vh;
    
    /* margin: 50px auto; */
}

#mainContainer .image-container img, #mainContainer .image-container video {
    transform: skew(-37deg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 11px 11px 0px black;
}

#mainContainer .rest-content {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Space Grotesk', sans-serif;
    transform: skew(-37deg);
}

#mainContainer .rest-content .text-container {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 11px 11px 0px black;
    height: 50vh;
    overflow-y: scroll;
    font-weight: 700;
    font-size: 26px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
}

@media(max-width: 768px) {

    #mainContainer .image-container {
        width: 130vw;
        height: 80;
        display: flex;
        justify-content: end;
    }

    #mainContainer .image-container img {
        width: 400px;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 11px 11px 0px black;
    }


    #mainContainer .rest-content .text-container {
        width: 60vw;
        height: 100%;
        font-weight: 700;
        font-size: 20px;
    }

    @keyframes widthAdjust {
        from {
            width: 218px;
        }

        to {
            width: 90vw;
        }
    }

    @keyframes widthReAdjust {
        from {
            width: 90vw;
        }

        to {
            width: 218px;
        }
    }
}

@keyframes show {
    to {
        opacity: 1;
        z-index: 100;
    }
}

@keyframes hide {
    from {
        opacity: 1;
        z-index: 100;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes unSkew {
    from {
        transform: skew(-37deg);
    }

    to {
        transform: skew(0deg);
    }
}

@keyframes skew {
    from {
        transform: skew(0deg);
    }

    to {
        transform: skew(-37deg);
    }
}

#mainContainer.flex-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

@keyframes toCenter {
    from {
        justify-content: end;
    }

    to {
        justify-content: center;
    }
}

@keyframes toEnd {
    from {
        justify-content: center;
    }

    to {
        justify-content: end;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        z-index: -1;
        display: none;
    }

    to {
        opacity: 1;
        z-index: 100;
        display: block;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        z-index: 100;
        display: block;
    }

    to {
        opacity: 0;
        z-index: -1;
        display: none;
    }
}

.audio-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.audio-container audio {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background: transparent;
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}