@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

html {
  height: 190vh;

}

body {
    background: linear-gradient(to right, #0a3dff, #0134ce, #0a3dff);
    background-size: 200%;
    animation: shine 2s linear infinite;

}

@keyframes shine {
    to {
        background-position: 200%;
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 10px;
    color: white;
    height: 70px;
    font-family: "Space Grotesk";
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 20px;
}

header .choose {
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-family: "Space Grotesk";
    cursor: pointer;
}

.wrapper {
    display: block;
    width: 100%;
    height: 75px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

main.flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

main .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .image-container img {
    width: 40%;
    border-radius: 20px;
    transform: skew(-37deg);
    box-shadow: 11px 11px 0px white;
}

main .rest-content {
    display: flex;
    align-items: center;
    height: calc(100vh -75px);
    transform: skew(-37deg);
}

@keyframes unSkew {
    to {
        transform: skew(0deg);
    }
}

@keyframes skew {
    from {
        transform: skew(0deg);
    }

    to {
        transform: skew(-37deg);
    }
}


main .rest-content .text-container {
    height: 70vh;
    overflow-y: scroll;
    box-shadow: 11px 11px 0px white;
    color: white;
    font-family: "Space Grotesk";
    width: 500px;
    text-align: center;
    margin-left: 40px;
    scrollbar-track-color: transparent;
    scrollbar-color: transparent;
}

main .rest-content .time-container {
    color: white;
    height: 70vh;
    width: 500px;
    margin-left: 40px;
}

@media(max-width: 900px) {
  main .image-container {
    width: 50vh;

  }
  main .rest-content .text-container, main .rest-content .time-container {
    height: 40vh;
    width: 300px;
    margin-left: 40px;
  }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.loading-text {
    color: white;
    font-size: 24px;
    font-family: "Space Grotesk", sans-serif;
}

@keyframes show {
    to {
        opacity: 1;
        z-index: 1000;
    }
}

@keyframes hide {
    from {
        opacity: 1;
        z-index: 1000;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}